recursive-include simpler_whisper *.so
recursive-include simpler_whisper *.pyd
recursive-include simpler_whisper *.dll
recursive-include simpler_whisper *.py
recursive-include simpler_whisper *.metal
